:root {
	--swiper-logo-content-width-mobile: 272px;
	--swiper-logo-content-width: 344px;
	--swiper-logo-click-padding: 16px;
	--swiper-logo-image-height-mobile: 524px;
}

.logo-slider.swiper .swiper-pagination {
	/* 
	Top Calc Mobile: Image Height + Top Padding - Click Padding
	Top Calc Desktop: Top Padding - Click Padding
	Left Calc Mobile: Image Width + 50% Remaining Width - Content Width (+ Translate 50%)
	*/
	@apply bottom-8 left-1/2 flex h-fit w-[var(--swiper-logo-content-width-mobile)] -translate-x-1/2  translate-y-0 transform flex-row;
}
.logo-slider.swiper .swiper-pagination .swiper-pagination-bullet {
	@apply flex h-[var(--swiper-logo-click-padding)] w-full items-center justify-center rounded-none bg-[unset] pt-2 opacity-100;
}
.logo-slider.swiper .swiper-pagination .swiper-pagination-bullet:after {
	@apply block h-[1px] w-full bg-cream content-[''];
}
.logo-slider.swiper
	.swiper-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	@apply bg-red;
}
